a {
    text-decoration: none;
}

body{
    font-family: sans-serif;
}

.navi-menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;

}

.title-h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;

}

.title-h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;

}
.paragraf {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.photo{
    border-radius: 14px;
    height: 340px;
    width: 540px;
}
